<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Maimai Scores List</title>
  <link href="./css/output.css" rel="stylesheet">
  <base href="{{ base_href }}">
  <style>
    @font-face {
      font-family: ResourceHanRoundedCN;
      font-style: normal;
      font-weight: 700;
      font-display: swap;
      src: url("./static/ResourceHanRoundedCN-Bold.ttf") format("truetype");
    }
    @font-face {
      font-family: TorusSemiBold;
      font-style: normal;
      font-weight: 600;
      font-display: swap;
      src: url("./static/Torus SemiBold.otf") format("opentype");
    }
  </style>
</head>
<body>
  {% from 'components/player_header.html.jinja2' import player_header %}
  {% from 'components/score_card.html.jinja2' import score_card %}

  <section class="relative mx-auto h-[1600px] w-[1400px] overflow-hidden rounded-[2rem] border border-white/50 shadow-[0_45px_120px_-40px_rgba(14,165,233,0.35)]">
    {# 背景图 #}
    <img
      src="static/mai/pic/b50_bg.png"
      alt="maimai background"
      class="absolute inset-0 w-full h-full object-cover"
    />

    <div class="relative flex h-full flex-col">
      {# Header #}
      <div class="flex items-center gap-4 pt-6">
        <img
          src="static/mai/pic/logo.png"
          alt="maimai Logo"
          width="332"
          height="160"
          class="object-contain"
        />
        {{ player_header(player) }}
      </div>

      {# 标题栏 #}
      {% if title %}
      <div class="relative mx-auto mt-4 h-full w-full">
        <img
          src="static/mai/pic/title-lengthen.png"
          alt="Scores Title Background"
          class="absolute inset-0 w-full h-full object-contain"
        />
        <div class="absolute inset-0 flex items-center justify-center top-[-10px]">
          <h1
            class="select-none font-[TorusSemiBold] text-5xl font-extrabold tracking-wide text-sky-400 drop-shadow-[0_2px_2px_#ffffff]"
            style="text-shadow: 2px 0 0 #FFF, 0 0 2px #FFF, 0 2px 0 #FFF, -2px 0 0 #FFF, 0 -2px 0 #FFF;"
          >
            {{ title }}
          </h1>
        </div>
      </div>
      {% endif %}

      {# Scores List #}
      <div class="p-4 pt-6">
        <div class="grid grid-cols-5 gap-2">
          {% for score in scores %}
            {{ score_card(score) }}
          {% endfor %}
        </div>
      </div>

      {# Footer #}
      <footer class="relative mx-6 mt-auto p-6 text-center">
        <p
          class="mx-auto max-w-full font-[TorusSemiBold] text-2xl font-[1000] text-sky-400"
          style="text-shadow: 2px 0 0 #FFF, 0 0 2px #FFF, 0 2px 0 #FFF, -2px 0 0 #FFF, 0 -2px 0 #FFF;"
        >
          Originally designed by Yuri-YuzuChaN & BlueDeer233 & TomeChen. Generated by Nonebot-Plugin-Rikka
        </p>
      </footer>
    </div>
  </section>
</body>
</html>
