name: Publish

on:
  release:
    types: [published]

permissions:
  id-token: write
  contents: read

jobs:
  pypi-publish:
    name: upload release to PyPI
    environment: Pypi
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - uses: pdm-project/setup-pdm@v4

      - name: Install deps
        run: pdm install

      - name: Publish to PyPI
        run: pdm publish